@model GSoftPosNew.Models.Location
@{
    ViewData["Title"] = "Edit Location";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4" style="max-width:600px;">
    <div class="card shadow-sm">
        <div class="card-header bg-warning text-dark">
            <h5 class="mb-0"><i class="fa fa-edit"></i> Edit Location</h5>
        </div>
        <div class="card-body">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.Id)

                <div class="mb-3">
                    @Html.LabelFor(m => m.Name, new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                </div>
                <div class="mb-3">
                    @Html.LabelFor(m => m.Description, new { @class = "form-label" })
                    @Html.TextAreaFor(m => m.Description, new { @class = "form-control", rows = 3 })
                </div>

                <button type="submit" class="btn btn-success">
                    <i class="fa fa-save"></i> Update
                </button>
                <a asp-action="Index" class="btn btn-secondary ms-2">
                    <i class="fa fa-arrow-left"></i> Cancel
                </a>
            }
        </div>
    </div>
</div>
